:root {
    --dark-lilac: #E05CE0FF;
    --lilac: #C8A2C8;
}

@font-face {
    font-family: playfairExtraBold;
    src: url(../font/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: playfairBold;
    src: url(../font/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: playfairRegular;
    src: url(../font/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

body{
    background-image: url("../../assets/img/10136775_17973908.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: playfairRegular;
}

.col{
    width: 50%;
    margin-left: 25%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: lightcyan;
    text-align: center;
    color: var(--dark-lilac);
    border-radius: 20px;
}
.row{
    width: 75%;
}
.row >*{
    margin-left: 22.5%;
}
div input{
    background-color: transparent;
    width: 70%;
    margin-top: 0.4rem !important;
    border-color: var(--lilac);
    border-radius: 10px;

}
div label{
    background-color: transparent;
    margin-top: 1rem !important;
}
div button{
    background-color: transparent;
    margin-top: 1.5rem !important;
    color: var(--dark-lilac);
    border-color: var(--lilac);
    border-radius: 10px;
}
div span{
    background-color: transparent;
    margin-top: 1rem !important;
    font-family: playfairBold;
}

.myTitle{
    margin-top: 3rem !important;
    font-family: playfairExtraBold;
}
.age{
    margin-bottom: 3rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--lilac);
    opacity: 1; /* Firefox */
}
